@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html
{
  scroll-behavior: auto !important;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

h1 
{
    margin: 30px;
    position: relative;
    text-align: center;
}

h2
{
    margin: 10px;
    position: absolute;
    left: 10%;
    top: 10vh;
}

.first-paragraph
{

    position: absolute;
    left: 5%;
    top: 20vh;
    width: 35vw;
    text-align: justify;
    line-height: 1.5;

}

#instruction
{
    margin: 10px;
    position: absolute;
    text-align: right;
    right: 10%;
    top: 20vh;
    word-wrap: break-word;
    max-width: 150px;


}

.paragraph-one
{
    margin: 10px;
    position: absolute;
    left: 5%;
    
    width: 35vw;
    text-align: justify;
    line-height: 1.5;
}

.right-image
{
    margin: 10px;
    position: absolute;
    right: 10%;
    
    width: 25vw;
}

.left-image
{
    margin: 10px;
    position: absolute;
    left: 10%;
    width: 25vw;
}
.paragraph-two
{
    margin: 10px;
    position: absolute;
    right: 5%;
    
    width: 35vw;
    text-align: justify;
    line-height: 1.5;
}
#second-title
{
    margin: 10px;
    position: absolute;
    left: 5%;
    top: 340vh;
    width: 25vw;
    
}

#third-title
{
    margin: 10px;
    position: absolute;
    left: 5%;
    top: 660vh;
    width: 25vw;
}

.conclusion
{
    margin: 10px;
    position: absolute;
    left: 5%;
    top: 900vh;
    width: 25vw;
} 
.scene
{
    position: relative;
    width: 100%;
    height: 1100vh;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(83,9,121,1) 50%, rgba(24,166,255,1) 100%);
    overflow: hidden;
    
}

.scene i
{
    position: absolute;
    top: -250px;
    background: rgba(255, 255, 255, 0.5);
    animation: animateStars linear infinite;
}

@keyframes animateStars
{
    0%
    {
        transform: translateY(1000vh);
    }
    100%
    {
        transform: translateY(0);
    }
}

.scene .rocket-container
{
    position: relative;
    display: flex;
    justify-content: center;
}

.scene .rocket-container .rocket
{
    position: fixed;
    transform: translateY(15vh);
    cursor: pointer;
    /* animation: animate 0.2s ease infinite; */
}

.scene .rocket-container .rocket img
{
    transform: scale(70%);
}

@keyframes animate
{
    0%, 100%
    {
        transform: translateY(15vh);
        
    }
    50%
    {
        transform: translateY(15.5vh);
        
    }
}

.scene .rocket-container .rocket::before
{
    display: var(--beforeBack,none);
    content: '';
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(orangered, transparent);
}

.scene .rocket-container .rocket::after
{
    display: var(--afterBack,none);
    content: '';
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(orangered, transparent);
    filter: blur(20px);
}

#starship
{
    margin: 10px;
    position: absolute;
    width: 25%;
    right: 10%;
    top: 35vh;
}

#scrollbutton {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;

  z-index: 1000;
}
#scrollbutton::after {
  content: "↑";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#scrollbutton:hover {
  cursor: pointer;
  background-color: #333;
}
#scrollbutton:active {
  background-color: #555;
}

#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    /* radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)), */
    /* radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)), */
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  height: 500vh;
}

#imagefour
{
    width: 20%;
    border-radius: 5px;
}

#imagefive
{
    width: 35%;
    right: 5%;
}
@media (max-width: 1400px) {
  #imagetwo
  {
    top: 420vh !important;
    
  }

  #imagefour
  {
    top: 750vh !important;
  }
  .haha
  {
    top: 780vh !important;
  }
}

#schema-1
{
    width: 25%;
    border-radius: 5px;;
}

